html {
    background-color: rgb(61, 59, 61);
    color: white;
    width: 300px;
    height: 400px;
}

h1{
    text-align: center;
    
}
button{
    margin: 12px;
    padding: 10px;
    border-radius: 8px;
    background: white;
    color: rgb(24, 2, 44);
}

#menu {
    display: flex;
    flex-direction: column;
}